/* Reset some defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

header {
  background: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

header h1 {
  margin-bottom: 5px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

main {
  padding: 20px;
  text-align: center;
}

.block {
      display: block;
      width: 50%;
      border: none;
      background-color: #000000;
      color: white;
      padding: 14px 28px;
      font-size: 16px;
      cursor: pointer;
      text-align: center;
    }

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  margin-top: 20px;
}
